{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}notifications.css">

	{% block bodyblock %}


	<h1>Listing Users</h1>

	<div class="recent-messages">
		<!-- This is our list of notifications -->
		<ul id="notifications">
		    {% for each_user in object_list %}
		    	<li><a href="/new_message/{{ each_user.id }} " class="fancybox">Send Message</a></li>
			    <li>{{ each_user.username }}</li>
			    <hr>
		    {% endfor %}
		</ul>
	</div>


		
	<div class="container" id="test" style="display: none;">
		<h1>hey</h1>

	</div>

	{% endblock %}


{% endblock %}