<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load swampdragon_tags %}


{% block content %}

	{% block bodyblock %}


	<h1>Your Messages</h1>


	<div class="recent-messages">
		<!-- This is our list of notifications -->
		<ul id="notifications">
		    {% for notification in your_messages %}

		    	<!-- For readability, highlighting messages where recipient is the current user -->
		    	{% if notification.user == user %}
		    	<div id="alternate_color">
		    	{% endif %}

				    <li><div id="detail">From:  </div>
				    	<a href="/new_message/{{ notification.sending_user.id }}">{{ notification.sending_user }} </a> 
				    </li>
				    <li> <div id="detail">To: </div>
				    	<a href="/new_message/{{ notification.user.id }}">{{ notification.user }} </a>
				    </li> 
				    <li>at {{ notification.created }}</li></br>
				    <li><div id="detail">Message: </div>{{ notification.message }}</li>

				 <!-- Closing out this readability div -->
		    	{% if notification.user == user %}
		    	</div>
		    	{% endif %}


			    <hr>
		    {% endfor %}
		</ul>
	</div>


	{% endblock %}

{% endblock %}



</body>
</html>
